body {
    font-family: Arial, sans-serif;
    background-color: #afc2e6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }
  
  .container {
    align-self: center;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.541);
    text-align:center;
    width: 50%;
  }
  
  h1 {
    color: #333;
  }